@use 'config/reset';
@use 'config/variaveis';   
// definindo a origem das variaveis


@mixin productGrid () {
    grid-template-columns: repeat(3, 32.66%);
}

@mixin productGridTablet () {
    grid-template-columns: repeat(2, 48.5%);
}

@mixin productGridMobile () {
    grid-template-columns: repeat(2, 48.99%);
}

body {
    background-color: variaveis.$bgBody;

    li {  // "li" dentro do body
        list-style: none;
    }
}

header {
    background-color: variaveis.$bgHeader;
    position: sticky;
    top: 0;
    left: 0;

    .container {  //container dentro do header
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    }
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    .menu {  // .menu dentro do .container
        display: flex;

        li {
            font-weight: bold;
            margin-left: 24px;
        }

        a {
            color: variaveis.$fontColor;
            text-decoration: none;
        }

    }
}

section {
    padding: 56px 0;

    .products {
        margin-top: 40px;
        display: grid;
        @include productGrid();
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;

        img {
            width: 100%;
            border-radius: 16px;
        }

        .product-button {
            display: block;
            background-color: variaveis.$bgProductButton;
            color: variaveis.$fontColor;
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;
            text-decoration: none;

            &:hover {
                background-color: variaveis.$bgProductButton;
            }
        }
    }
}

@media screen and (max-width: variaveis.$tablet) {

    .container {
        max-width: 80%;
    }

    section {

        .products {
            display: grid;
            @include productGridTablet(); // incluindo mixins ( com @include e o nome dos mixins )
            column-gap: 2%;
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {

    .products {
        display: flex;
        @include productGridMobile(); // incluindo mixins ( com @include e o nome dos mixins ) 
    }

    .product-item  {
        margin-bottom: 32px;
    }
}